
<ion-view ng-controller="accountsController" title="Accounts" ng-init="loadAccounts()">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button  class="button button-icon icon ion-ios7-plus-empty" ng-click="showAddAccountModal()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" has-bouncing="true">

      <ion-list class="list" show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe" option-buttons="itemButtons">

          <ion-item class="item item-icon-left item-icon-right account-item" ng-repeat="item in accounts" ng-click="accountClick(item)">
              <i ng-if="item.type =='checking'" class="icon ion-card positive"></i>
              <i ng-if="item.type =='saving'" class="icon ion-arrow-graph-up-right positive"></i>
              <i ng-if="item.type =='other'" class="icon ion-cash positive"></i>
              <div class="row">
                  <h1 class="dark">{{item.name}}</h1>
                  <br/>
              </div>
              <h2>
                  {{item.total | currency}}
              </h2>

              <i class="icon ion-ios7-arrow-right"></i>
              <ion-option-button class="button-info"
                                 ng-click="onAccountEdit(item)">
                  Edit
              </ion-option-button>
              <ion-option-button class="button-assertive"
                                 ng-click="onAccountDelete(item)">
                  Delete
              </ion-option-button>
              <ion-reorder-button class="ion-navicon"
                                  on-reorder="reorderItem(item, $fromIndex, $toIndex)">
              </ion-reorder-button>
          </ion-item>
      </ion-list>


  </ion-content>
</ion-view>
