<ion-view title="{{transAccount.name}}" ng-controller="accountTransactionsController" >
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>-->

    </ion-nav-buttons>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>

    <ion-content class="has-header" >
        <div class="list card">
            <div class="item item-text-wrap">
                <h1>{{transAccount.name}}</h1>
                <p>{{transAccount.amount | currency}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="addTransaction()">
                    <i class="icon ion-plus"></i>
                    Add Item
                </a>
                <a class="tab-item" >
                    <i class="icon ion-edit"></i>
                    Edit Account
                </a>
            </div>
        </div>

        <ion-list class="list"  can-swipe="true">

            <ion-item class="item item-icon-right "  ng-repeat="item in transactions">
                <label class="checkbox">
                    <input type="checkbox" ng-click=" $event.stopPropagation();" ng-model="item.cleared">
                </label>
                <h2>{{item.desc}} </h2>
                <p>
                    <span class="badge" ng-class="{false : 'badge-assertive', true : 'badge-stable'}[item.isPositive]">{{item.amount | currency}}</span>
                </p>
                <p>{{item.date | date}}</p>
                <p>{{item.memo}}</p>
                <ion-option-button class="button-info"
                                   ng-click="onAccountEdit(item)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive"
                                   ng-click="onTransactionDelete(item)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>



    </ion-content>
</ion-view>
