<ion-view title="{{transAccount.name}} {{transAccount.total | currency}}" ng-controller="accountTransactionsController" >
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>-->

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button  class="button button-icon icon ion-ios7-plus-empty" ng-click="addTransaction()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" >

        <div class="list card" >
        <div class="item item-text-wrap">
            <!--<div class="row">-->
            <!--<h1>{{transAccount.name}}</h1>-->
            <!--</div>-->
            <div class="row">
                <h2 class="col">Balance:</h2>
                <h2 class="col">{{transAccount.total | currency}}</h2>
            </div>
            <div class="row">
                <p class="col">Outstanding:</p>
                <p class="col">{{transAccount.outstanding | currency}}</p>
            </div>
            <div class="row">
                <p class="col">Cleared:</p>
                <p class="col">{{transAccount.cleared | currency}}</p>
            </div>
        </div>
        </div>


        <ion-list class="list" scroll="true" can-swipe="true">
            <ion-item class="item item-icon-right "  ng-repeat="item in transactions | orderBy:predicate:reverse">
                <div class="row">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="item.cleared" ng-change="checkboxClick(item)" >
                    </label>
                    <div class="col">
                        <h2>{{item.desc}} </h2>
                        <p>{{item.date | date}}</p>
                        <p>{{item.memo}}</p>
                    </div>
                    <p>
                        <span ng-if="item.isPositive" class="badge" ng-class="{false : 'badge-assertive', true : 'badge-stable'}[item.isPositive]">{{item.amount | currency}}</span>
                        <span ng-if="!item.isPositive" class="badge" ng-class="{false : 'badge-assertive', true : 'badge-stable'}[item.isPositive]">({{item.amount | currency}})</span>
                    </p>
                </div>
                <ion-option-button class="button-info text-center"
                                   ng-click="editTransaction(item)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive text-center"
                                   ng-click="onTransactionDelete(item)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>



    </ion-content>

</ion-view>
