<div class="modal"  >
    <ion-header-bar>
        <h1 class="title">Add Item</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddTransaction()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doAddTransaction()" >
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Desc</span>
                    <input type="text" ng-model="addTransactionData.desc" placeholder="McDonald's">
                </label>
                <label class="item item-input">
                    <span class="input-label">Amount</span>
                    <input type="text" ng-model="addTransactionData.amount" placeholder="0.00">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Create Item</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>
