/* Empty. Add your own CSS if you like */

@font-face {
    font-family: LatoThin;
    src: url(font/Lato-Thin.ttf);
}
@font-face {
    font-family: LatoHairline;
    src: url(font/Lato-Hairline.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(font/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(font/Lato-Light.ttf);
}
body, p, small, strong, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: LatoLight !important ;
}
i {
    font-size: 395%;
}
ion-item {
    background: #696969;
}
ion-side-menu {
    background: #696969;
}
.bar.bar-positive .title  {
    font-size: 30px;
}
.bar .buttons, .bar .buttons {
    font-size: 60px;

}

.item-button-right, a.item.item-button-right, button.item.item-button-right {
    padding-right: 0px;
}